.footer {
  background-color: #08475e;
  color: #fff;
}
.footer__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  max-width: 700px;
  margin-bottom: 34px;
}
.footer__logo {
}
.footer__navigation {
  font-weight: 400;
  font-size: 18px;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 42px;
}
.footer__text {
}
.footer__link {
  margin-left: auto;
}

@media (max-width: 768px) {
  .footer__navigation {
    font-size: 18px;
  }
}
